<div class="preview-background">
    <div class="preview-body">
        <img class="decorator" src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <div class="preview">
            <div class="title">O que vai rolar no<br> Mangue.Bit 2024?</div>
            <div class="events">
                <div class="event">
                    <img src="../../assets/images/preview-1.png">
                    <div class="text" style="font-size: 26px;">60+<br>Startups</div>
                </div>
                <div class="event">
                    <img src="../../assets/images/preview-2.png">
                    <div class="text">Espaço de<br>Networking<br>e Mentorias</div>
                </div>
                <div class="event">
                    <img src="../../assets/images/preview-3.png">
                    <div class="text" style="font-size: 26px;">12h<br>de Evento</div>
                </div>
                <div class="event">
                    <img src="../../assets/images/preview-4.png">
                    <div class="text">Palcos com<br>Talks e Painéis</div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="closure">
        <div class="title">Mangue.bit</div>
        <div class="text">Evento de startups para<br>startups.</div>
        <img class="button" src="../../assets/images/subscribe-here-button.png" (click)="goToLink('https://www.even3.com.br/manguebit-2024-438948/')">
    </div>
</div>
