@import '../../../styles.scss';

.speakers-body {
    position: relative;
    background-color: $main-purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 5rem 0;
    min-height: 30rem;
    background-image: url('../../../assets/images/IDV-Mangue_BACKGROUND.png');
    background-repeat: repeat;
    background-size: contain;
    .left-arrow, .right-arrow {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        cursor: pointer;
    }
    .left-arrow {
        left: 0;
    }
    .right-arrow {
        right: 0;
    }
    .title {
        font-family: $exo;
        font-size: 30px;
        font-weight: 800;
        color: $main-purple;
        text-align: center;
    }
    .speakers-cards {
        display: flex;
        width: 70%;
        margin: 0 0 2rem 0;
        z-index: +1;
        opacity: 1;
        transition: all .3s ease-out;
        .card-background {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            .card {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 90%;
                }
            }
        }
    }
    .cards-transition {
        opacity: 0;
    }
    .speakers-fake-cards {
        display: flex;
        width: 70%;
        margin: 0 0 2rem 0;
        position: absolute;
        top: 9.25rem;
        left: 15%;
        transition: all .3s ease-out;
        .card-background {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            .card {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 90%;
                }
            }
        }
    }
    .cards-shift-left {
        left: -50rem;
    }
    .cards-shift-right {
        left: 50rem;
    }
}