<div class="video-body">
    <div class="crabs" style="margin: 0 0 1rem 0;">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
    </div>
    <div class="video">
        <iframe 
            style="width: 100%; min-height: 100%;"
            src="https://www.youtube.com/embed/5I2z_wfiEiM?si=h9mZ8-_DYqWuwu8B" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen
        ></iframe>
    </div>
    <div class="crabs" style="margin: 1rem 0 0 0;">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
    </div>
</div>