<div class="video-body">
    <div class="crabs">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
    </div>
    <div class="video">
        
    </div>
    <div class="crabs">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
        <img src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
    </div>
</div>