@import '../../styles.scss';

.video-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $main-blue;
    height: 40rem;
    @media (max-width: 580px ) {
        height: 20rem;
        padding: 0 0;
    }
    .video {
        width: 50%;
        min-height: 65%;
        iframe {
            border: 8px solid $main-purple;
        }
        @media (max-width: 580px) {
            min-height: 40%;
        }
    }
}