@import '../../styles.scss';

.video-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $main-blue;
    height: 40rem;
    @media (max-width: 580px ) {
        height: 30rem;
        padding: 0 0;
    }
    .video {
        width: 50%;
        min-height: 65%;
        iframe {
            border: 8px solid $main-purple;
            @media (max-width: 580px) {
                border: 4px solid $main-purple;
            }
        }
        @media (max-width: 1024px) {
            width: 70%;

        }
        @media (max-width: 580px) {
            min-height: 98%;
            width: 98%;
        }
    }
}