<div class="schedule-body">
    <div class="left-arrow" (click)="shiftLeft()" *ngIf="!scheduleService.comingSoon">
        <img src="../../../assets/images/left-arrow.png">
    </div>
    <div class="right-arrow" (click)="shiftRight()" *ngIf="!scheduleService.comingSoon">
        <img src="../../../assets/images/right-arrow.png">
    </div>
    <div class="title" style="margin: 3.5rem 0;">Programação</div>
    <div class="coming-soon" *ngIf="scheduleService.comingSoon">
        <div class="card">
            <img class="decoration" src="../../../assets/images/card-decoration-green.png">
            <div class="title">Em breve!</div>
        </div>
    </div>
    <div class="cards" *ngIf="!scheduleService.comingSoon">
        <div class="card-background" *ngIf="schedule">
            <div class="card">
                <img class="decoration" src="../../../assets/images/card-decoration-green.png">
                <div class="title">{{ schedule.title }}</div>
                <div class="time">{{ schedule.time }}</div>
                <div class="text">{{ schedule.text }}</div>
            </div>
        </div>
    </div>
</div>