<div class="about-body" style="background-image: url('../../assets/images/IDV-Mangue_BACKGROUND.png');">
    <img class="logo" src="../../assets/images/logo.png">
    <div class="sections">
        <div class="section">
            <div class="text">
                <a>
                    O Mangue.bit é a maior conferência de startups organizada por uma comunidade voluntária no Brasil, 
                    a comunidade Manguezal. Em sua 8ª edição, este evento anual reúne startups, investidores e empreendedores 
                    de todo o país, destacando o vibrante ecossistema de Recife. Aqui, as conexões se formam e as ideias ganham vida.
                </a>
            </div>
            <img class="decoration" src="../../assets/images/IDV-Mangue_PONTE.png" style="transform: rotate(1.8deg);" *ngIf="!mobile">
        </div>
        <div class="section">
            <div class="title">
                <a>Aqui no Mangue.bit é onde as startups de Recife brilham e a inovação do Brasil se encontra!</a>
            </div>       
            <div class="text">
                <a>
                    Imagine um lugar onde os pioneiros da inovação de todo o Brasil se encontram para compartilhar ideias, 
                    fazer conexões valiosas e assistir a pitches empolgantes. Isso é Mangue.bit! Aqui, startups locais têm o 
                    palco aberto para brilhar e captar a atenção de investidores e grandes empresas.
                </a>
            </div>
            <img class="subscribe" src="../../assets/images/subscribe-here-button.png">
            <img class="hidden-decoration" src="../../assets/images/IDV-Mangue_PONTE.png" style="transform: rotate(1.8deg);" *ngIf="mobile">
        </div>
    </div>
</div>
