@import '../../styles.scss';

.about-body {
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    padding: 0 0 2rem 0;
    @media (max-width: 700px) {
        padding: 0;
    }
    .logo {
        width: 20rem;
        margin: 4rem 0;
        @media (max-width: 450px) {
            width: 15rem;
        }
        @media (max-width: 250px) {
            width: 10rem;
        }
    }
    .sections {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        width: 70%;
        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
            width: 90%;
        }
        @media (max-width: 450px) {
            width: 100%;
        }
        .section {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            width: 80%;
            margin: 0 0 2rem 0;
            @media (max-width: 450px) {
                width: 90%;
            }
            .text, .title, .button {
                flex: 1;
                width: 75%;
                text-align: center;
                @media (max-width: 1024px) {
                    width: 80%;
                }
            }
            .text {
                margin: 0 0 0rem 0;
                @media (max-width: 1024px) {
                    text-align: center;
                }
                a {
                    color: $main-purple;
                    font-family: $inter;
                    font-size: 13px;
                    font-weight: 500;
                    @media (max-width: 1024px) {
                        font-size: 16px;
                    }
                    @media (max-width: 450px) {
                        font-size: 12px;
                    }
                }
            }
            .title { 
                margin: 0 0 1.5rem 0;
                @media (max-width: 1024px) {
                    text-align: center;
                }
                a {
                    color: $main-purple;
                    font-family: $inter;
                    font-size: 13px;
                    font-weight: 700;
                    @media (max-width: 1024px) {
                        font-size: 16px;
                    }
                    @media (max-width: 450px) {
                        font-size: 12px;
                    }
                }
            }
            .decoration {
                width: 20rem;
                @media (max-width: 330px) {
                    width: 15rem;
                }
                @media (max-width: 245px) {
                    width: 10rem;
                }
            }
            .hidden-decoration {
                width: 60%;
                @media (max-width: 1024px) {
                    width: 30%;
                }
                @media (max-width: 700px) {
                    width: 100%;
                }
                @media (max-width: 300px) {
                    width: 70%;
                }
            }
            .subscribe {
                width: 45%; 
                margin: 2rem 0 0 0;
                cursor: pointer;
                @media (max-width: 1024px) {
                    width: 30%;
                }
                @media (max-width: 700px) {
                    width: 60%;
                }
                @media (max-width: 300px) {
                    width: 70%;
                }
            }
            .subscribe:hover {
                opacity: 0.7;
            }
        }
    }
}