<div class="about-body" style="background-image: url('../../assets/images/IDV-Mangue_BACKGROUND.png');">
    <img class="logo" src="../../assets/images/logo.png">
    <div class="sections">
        <div class="section">
            <div class="text">
                <a>
                    Lorem ipsum dolor sit amet consectetur. Urna vel etiam ut dignissim eget tincidunt nulla amet.
                    Sapien felis duis pellentesque tincidunt convallis nibh lectus. Adipiscing vitae et lorem id amet
                    amet.
                </a>
            </div>
            <div class="text">
                <a>
                    Lorem ipsum dolor sit amet consectetur. Urna vel etiam ut dignissim eget tincidunt nulla amet. 
                    Sapien felis duis pellentesque tincidunt convallis nibh lectus. Adipiscing vitae et lorem id amet amet. 
                    Lorem ipsum dolor sit amet consectetur. Urna vel etiam ut dignissim eget tincidunt nulla amet. 
                    Sapien felis duis pellentesque tincidunt convallis nibh lectus. Adipiscing vitae et lorem id amet amet. 
                </a>
            </div>
            <div class="text" style="margin: 0 0 1rem 0;">
                <a>
                    Lorem ipsum dolor sit amet consectetur. Urna vel etiam ut dignissim eget tincidunt nulla amet. 
                    Sapien felis duis pellentesque tincidunt convallis nibh lectus. Adipiscing vitae et lorem id amet amet.
                </a>
            </div>
            <div class="text">
                <a>
                    Lorem ipsum dolor sit amet consectetur. Urna vel etiam ut dignissim eget tincidunt nulla amet. 
                    Sapien felis duis pellentesque tincidunt convallis nibh lectus. Adipiscing vitae et lorem id amet amet.
                </a>
            </div>
        </div>
        <div class="section">
            <div class="title">
                <a>Agarre a oportunidade de se mostrar como um<br> empreendedor de inovação.</a>
            </div>       
            <div class="text">
                <a>
                    Lorem ipsum dolor sit amet consectetur. Urna vel etiam ut dignissim eget tincidunt nulla amet. 
                    Sapien felis duis pellentesque tincidunt convallis nibh lectus. Adipiscing vitae et lorem id amet amet.
                </a>
            </div>
            <div class="text" style="margin: 0;">
                <a>
                    Lorem ipsum dolor sit amet consectetur. Urna vel etiam ut dignissim eget tincidunt nulla amet. 
                    Sapien felis duis pellentesque tincidunt convallis nibh lectus. Adipiscing vitae et lorem id amet amet.
                </a>
            </div>
            <img class="decoration" src="../../assets/images/IDV-Mangue_PONTE.png">
        </div>
    </div>
</div>
