@import '../../../styles.scss';

.schedule-body {
    position: relative;
    background-color: $main-purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 5rem 0;
    min-height: 30rem;
    .left-arrow, .right-arrow {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        cursor: pointer;
    }
    .left-arrow {
        left: 0;
    }
    .right-arrow {
        right: 0;
    }
    .title {
        font-family: $exo;
        font-size: 30px;
        font-weight: 800;
        color: white;
        text-align: center;
    }
    .coming-soon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30rem;
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url('../../../assets/images/IDV-Mangue_BACKGROUND.png');
            width: 100%;
            background-size: contain;
            padding: 2rem 2rem;
            justify-content: space-around;
            height: 13rem;
            min-height: 13rem;
            .decoration {
                position: absolute;
                background-color: transparent;
                top: -0.5rem;
            }
            .title {
                color: $main-purple;
                font-size: 30px;
                font-weight: 500;
            }
        }
    }
    .cards {
        display: flex;
        width: 70%;
        margin: 0 0 2rem 0;
        z-index: +1;
        opacity: 1;
        transition: all .3s ease-out;
        .card-background {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-image: url('../../../assets/images/IDV-Mangue_BACKGROUND.png');
                width: 12rem;
                background-size: contain;
                padding: 2rem 1rem;
                justify-content: flex-start;
                height: 13rem;
                min-height: 13rem;
                .decoration {
                    position: absolute;
                    background-color: transparent;
                    top: -0.5rem;
                }
                .title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $main-purple;
                    font-size: 15px;
                    height: 3rem;
                    min-height: 3rem;
                    max-height: 3rem;
                    margin: 0 0 0.5rem 0;
                }
                .time {
                    color: $main-purple;
                    font-family: $exo;
                    font-size: 22px;
                    font-weight: 800;
                    margin: 0 0 1rem 0;
                }
                .text {
                    font-family: $exo;
                    font-size: 11px;
                    color: $main-purple;
                    text-align: center;
                    font-weight: 400;
                }
            }
        }
    }
    .cards-transition {
        opacity: 0;
    }
    .fake-cards {
        display: flex;
        width: 70%;
        margin: 0 0 2rem 0;
        position: absolute;
        top: 9.25rem;
        left: 15%;
        transition: all .3s ease-out;
        .card-background {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-image: url('../../../assets/images/IDV-Mangue_BACKGROUND.png');
                width: 12rem;
                background-size: contain;
                padding: 2rem 2rem;
                justify-content: space-around;
                height: 13rem;
                min-height: 13rem;
                .decoration {
                    position: absolute;
                    background-color: transparent;
                    top: -0.5rem;
                }
                .title {
                    color: $main-purple;
                    font-size: 12px;
                }
                .time {
                    color: $main-purple;
                    font-family: $exo;
                    font-size: 16px;
                    font-weight: 800;
                }
                .text {
                    font-family: $exo;
                    font-size: 12px;
                    color: $main-purple;
                    text-align: center;
                    font-weight: 400;
                }
            }
        }
    }
    .cards-shift-left {
        left: -50rem;
    }
    .cards-shift-right {
        left: 50rem;
    }
}