<div class="footer-body">
    <img class="footer-image" src="../../../assets/images/logo.png">
    <div class="made-by">
        <span>Realização:</span>
        <img class="manguezal" src="../../../assets/images/Logo-Manguezal-2.png">
    </div>
</div>
<div class="site-ending">
    <div style="text-align: center;">© Copyright Manguezal. All Rights Reserved.</div>
    <div style="text-align: center;">Designed and developed by <a href="https://bio.site/studiodaus" target="_blank" style="color: white;">Studio Daus</a></div>
</div>
