<div class="footer-body">
    <img class="footer-image" src="../../../assets/images/logo.png">
    <div class="made-by">
        <span>Realização:</span>
        <img class="manguezal" src="../../../assets/images/Logo-Manguezal-2.png">
    </div>
    <div class="made-by">
        <span>Apoio:</span>
        <img class="sebrae" src="../../../assets/images/Sebrae-01.png">
    </div>
</div>
<div class="site-ending">
    <div>© Copyright Manguezal. All Rights Reserved</div>
    <div>Design and develop. by Daus</div>
</div>
