@import '../../../styles.scss';

.schedule-body {
    background-color: $main-purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 5rem 0;
    .title {
        font-family: $inter;
        font-size: 30px;
        font-weight: 800;
        color: white;
        text-align: center;
    }
    .coming-soon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30rem;
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url('../../../assets/images/IDV-Mangue_BACKGROUND.png');
            width: 100%;
            background-size: contain;
            padding: 2rem 0rem;
            justify-content: space-around;
            height: 13rem;
            min-height: 13rem;
            .decoration {
                position: absolute;
                background-color: transparent;
                top: -0.5rem;
            }
            .title {
                color: $main-purple;
                font-size: 30px;
                font-weight: 500;
            }
        }
    }
    .cards {
        display: grid;
        width: 85%;
        margin: 0 0 2rem 0;
        grid-template-columns: auto auto auto auto auto;
        row-gap: 2.2rem;
        .card-background {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-image: url('../../../assets/images/IDV-Mangue_BACKGROUND.png');
                width: 12rem;
                background-size: contain;
                padding: 2rem 1rem;
                justify-content: flex-start;
                height: 13rem;
                min-height: 13rem;
                @media (max-width: 1200px) {
                    width: 10rem;
                }
                .decoration {
                    position: absolute;
                    background-color: transparent;
                    top: -0.5rem;
                }
                .title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $main-purple;
                    font-size: 12px;
                    height: 3rem;
                    min-height: 3rem;
                    max-height: 3rem;
                    margin: 0 0 0.5rem 0;
                }
                .time {
                    color: $main-purple;
                    font-family: $inter;
                    font-size: 16px;
                    font-weight: 800;
                    margin: 0 0 1rem 0;
                }
                .text {
                    font-family: $inter;
                    font-size: 11px;
                    color: $main-purple;
                    text-align: center;
                    font-weight: 400;
                }
            }
        }
    }
}