<div class="partners-body">
    <img class="decorator" src="../../assets/images/IDV-Mangue_RUA-DA-AURORA-MANGUEBEAT.png">
    <div class="title">Patrocínio</div>
    <div class="partners">
        <div class="tubarao">
            <div class="title">Tubarão</div>
            <div class="partner" *ngFor="let partner of tubaroes">
                <img src="{{ partner.img_address }}">
            </div>
        </div>
        <div class="guaiamum">
            <div class="title">Guaiamum</div>
            <div class="partner" *ngFor="let partner of guaiamuns">
                <img src="{{ partner.img_address }}">
            </div>
        </div>
        <div class="aratu">
            <div class="title">Aratu</div>
            <div class="partners-container">
                <div class="partner" *ngFor="let partner of aratus">
                    <img src="{{ partner.img_address }}">
                </div>
            </div>
        </div>
        <div class="chie">
            <div class="title">Chié / Apoio</div>
            <div class="partners-container">
                <div class="partner" *ngFor="let partner of chies">
                    <img src="{{ partner.img_address }}">
                </div>
            </div>
        </div>
    </div>
</div>
